NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CRON_SECRET=
NEXT_PUBLIC_ALLOWED_USER_UID=25f88fac-e5b9-4148-82cd-2762b7b9d607
ALLOWED_USER_UID=25f88fac-e5b9-4148-82cd-2762b7b9d607

# Optional Google Sheets import.
GOOGLE_SHEETS_SPREADSHEET_ID=1ocEClBF-und_Vubzy0h-xqdYQOi6GPzfXJ0lqjq2Grs
GOOGLE_SHEETS_CLIENT_EMAIL=
GOOGLE_SHEETS_PRIVATE_KEY=
GOOGLE_DOCS_CA_TEMPLATE_ID=159LvMzWs_8z6eQzbZ9tN7nO3Cti-peLIl4lsg7bgYmU
CREATE_CA_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyDuS16lCVj4BA3wcr19WJX1QF7o7dTo7TBJTfUXOxBjcrwLsWcSsnRYOe_k8k44he0ug/exec
CREATE_CA_APPS_SCRIPT_SECRET=

